body {
    margin: 0;
    ;
}

h1 {
    font-size: 90px;
    margin: 0;
    ;
}

h2 {
    font-size: 70px;
    ;
}

h3 {
    font-size: 40px;
    ;
}

h4 {
    font-size: 55px;
    margin: 0;
    ;
}

p {
    font-size: 25px;
    ;
}

section {
    margin-bottom: 100px;
    ;
}

.center-align {
    text-align: center;
    ;
}

.salmon-color {
    color: salmon;
    ;
}

.flex-section {
    display: flex;
    align-items: center;
    ;
}

.half-width {
    width: 50%;
    margin-left: 10%;
    padding: 0;
    ;
}

.half-width img {
    width: 70%;
    ;
}

#heading-style {
    border-left: 5px solid #a4ff12;
    padding-left: 2%;
    ;
}

.link-btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    background-color: #a4ff12;
    padding: 15px 50px;
    border-radius: 10px;
    color: #000;
    ;
}

.mission-items {
    margin-left: 10%;
    margin-right: 10%;
    ;
}

.mission-item {
    width: 30%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 30px;
}

.mission-item img {
    width: 40%;
    ;
}

#mission {
    background-color: #fffde4;
}

#vission {
    background-color: #ebffd4;
}

#goals {
    background-color: #ffebd8;
}

.left {
    width: 40%;
    ;
}

.right {
    width: 60%;
    ;
}

.left img {
    width: 80%;
    ;
}

.services {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    ;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 150px;
    ;
}

footer p {
    font-weight: 400;
    font-size: 22px;
    ;
}

footer h4 {
    padding-top: 20px;
    ;
}