body {
    margin: 0;
    ;
}

h1 {
    font-size: 90px;
    margin: 0;
    ;
}
p{
    font-size: 30px;
    ;
}
.purple-color {
    color: salmon;
    ;
}

section {
    display: flex;
    align-items: center;
    ;
}

.half-width {
    width: 50%;
    margin-left: 8%;
    padding: 0;
    ;
}

.half-width img {
    width: 70%;
    ;
}

#heading-style {
    border-left: 5px solid #a4ff12;
    padding-left: 2%;
    ;
}
.link-btn{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    background-color: #a4ff12;
    padding: 15px 50px;
    border-radius: 10px;
    color: #000;
    ;
}